* {
  margin: 0;
  padding: 0;

}

body {
  background-image: url(https://th.bing.com/th/id/OIG4.dLY37aXpNZrgABUGoPiU?w=270&h=270&c=6&r=0&o=5&pid=ImgGn);
  background-size: cover;
}

.navbar {
  background-color: black;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 10px;
}

.nav-links {
  margin-right: 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

h1 {
  margin-top: 50px;
  color: black;
  text-align: center;
}

p {

  color: black;
  text-align: center;
}

.black-box {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 540px;
  height: -1300px;
  margin: 0 auto;
  top:700px;
  left: 50%;
  background-color: rgb(71, 167, 169);
}

.feedback {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 10px;
}

form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}

input[type="text"],
select {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

#name {
  color: darkred;
  padding: 5px;
  font-size: 16px;
  margin: 0 auto;
}

option {
  font-size: 20px;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
}

input[type="radio"] {
  margin: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}